<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectarya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/globe"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Negara" />
        <activity android:name=".Link" />
        <activity android:name=".Creator" />
        <activity android:name=".Indonesia" />
        <activity android:name=".Filipina" />
        <activity android:name=".Brunei" />
        <activity android:name=".Malaysia" />
        <activity android:name=".Myanmar" />
        <activity android:name=".TimorLeste" />
        <activity android:name=".Singapura" />
        <activity android:name=".Vietnam" />
        <activity android:name=".Kamboja" />
        <activity android:name=".Laos" />
        <activity android:name=".Thailand" />
        <activity android:name=".ig"></activity>
    </application>

</manifest>